<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true">

    <testsuites>
        <testsuite name="OpenapiBundle">
            <directory>./tests/</directory>
            <exclude>./tests/Functional</exclude>
        </testsuite>
        <testsuite name="OpenapiBundle-functional">
            <directory>./tests/Functional</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>

    <php>
        <server name="KERNEL_CLASS" value="Nijens\OpenapiBundle\Tests\Functional\App\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=15&amp;max[indirect]=4"/>
    </php>
</phpunit>
